---
---

<html>
	<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>
	<div id="page">
		<div id="content">
			{% include navigation.html %}
			<div id="paragraph">
				<div class="inner-content">
					{% assign post = site.posts[0] %}
					{% if post %}
					<h2 class="title"><a class="text link" href="{{ post.url }}">{{ post.title }}</a></h2>
					<div class="text paragraph">
						{{ post.excerpt }}
					</div>
					{% endif %}

					{% assign post = site.posts[1] %}
					{% if post %}
					<h2 class="title"><a class="text link" href="{{ post.url }}">{{ post.title }}</a></h2>
					<div class="text paragraph">
						{{ post.excerpt }}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>