---
title: Projects
---

<html>
{% include head.html page=page.title site=site.title %}

<body>
	<div id="page">
		<div id="content">
			{% include navigation.html %}
			<div id="paragraph">
				<div class="inner-content">
					<p class="title">Under construction!</p>
                    <p class="text">You see, I am a very busy person. I can't afford sinking 10 hours a day into programming like you can! Not even in the summer. You know what is the core problem? The problem of having nothing fully completed yet? It's because unlike you, pal, I program in C++ which requires far more brainpower to comprehend. Unlike you, I am not stuck with that silly Python thingy like you are for 3 years. That is one of our differences, I am just better than you.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>