pre, code 
{
	font-size: 18px;
	border: 1px solid #a6e22e;
	border-radius: 3px;
}

code 
{
	padding: 1px 5px;
}

pre 
{
	padding: 8px 12px;
	overflow-x: auto;

	> code 
	{
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}