$title-font: OpenSansRegular;
$main-font: OpenSansLight;

body
{
	background-color: #242424;
}

.title   
{ 
	color: white; 
	font-weight: bold; 
	font-family: $title-font; 
	font-size: 28px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.paragraph    
{
	text-align: left; 
}

.pagename
{
	color: white;
	font-family: $main-font;
	font-weight: bold;
	font-size: 50px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.text
{
	color: white; 
	font-family: $main-font;
	font-size: 20px;
}

.info
{
	color: white; 
	font-family: $main-font; 
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navelement
{
	font-size: 19px;
	font-family: OpenSansLight;
	margin-right: 20px;
}

.link:hover
{
	color: #007bff;
}

.link:active
{
	color: #007bff;
}

.navlink:link
{
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.navlink:visited
{
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.navlink:hover
{
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
}

.navlink:active
{
	color: rgba(255, 255, 255, 1.0);
	text-decoration: none;
}

.inner-content
{
	padding: 15px;
}

#page
{
}

#content
{
	margin: auto; 
	max-width: 1000px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navigation
{
	background-color: #151515;
}

#paragraph
{
	background-color: #1c1c1c;
}

@font-face 
{
    font-family: ZillaSlab-Bold;
    src: url("/fonts/ZillaSlab-Bold.ttf");
}

@font-face 
{
    font-family: ZillaSlab;
    src: url("/fonts/ZillaSlab-Regular.ttf");
}

@font-face
{
	font-family: LiberationMono;
	src: url("/fonts/LiberationMono-Regular.ttf");
}

@font-face
{
	font-family: OpenSansRegular;
	src: url("/fonts/OpenSans-Regular.ttf")
}

@font-face
{
	font-family: OpenSansLight;
	src: url("/fonts/OpenSans-Light.ttf")
}

img
{
	max-width: 100%;
	height: auto;
}