---
---

<html>
	<head>
	<title>{{ page.title }} - Pvorisek's page</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="alternate" type="application/rss+xml" href="/feed.xml">
</head>

<body>
	<div id="page">
		<div id="content">
			{% include navigation.html %}
			<div id="paragraph">
				<div class="inner-content">
					<h1 class="title" style="text-align: left;">{{ page.title }}</h1>
					<p class="info"><em>{{ page.date | date_to_string }} - {{ page.author }}</em></p>
					<div class="text paragraph">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>