body
{
	background-color: #232323;
}

.title   
{ 
	color: white; 
	font-weight: bold; 
	font-family: ZillaSlab-Bold; 
	text-align: center; 
}

.paragraph    
{
	text-align: left; 
}

.text
{
	color: white; 
	font-family: ZillaSlab;
}

.info
{
	color: white; 
	font-family: ZillaSlab; 
	text-align: center; 
}

.link:hover
{
	color: #9cdcda;
}

.link:active
{
	color: #9cdcda;
}

#page
{
	display: flex; 
	justify-content: center;
}

#content
{
	margin: auto; 
	width: 50%;
}

@font-face 
{
    font-family: ZillaSlab-Bold;
    src: url("/fonts/ZillaSlab-Bold.ttf");
}

@font-face 
{
    font-family: ZillaSlab;
    src: url("/fonts/ZillaSlab-Regular.ttf");
}